/* Variaveis */
:root {
    --dark-color:  #1c458a;
    --middle-color: #b1caff;
    --white-color: #fff;
}


/* Inicializando projeto */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Recursividade das imagens */
div img {
    display: block;
    width: 100%;
}


/* Menu */
header {
    position: fixed;
    width: 100%;
    background: var(--dark-color);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    border-bottom: 1.5px solid rgb(0, 0, 0);
}

.logo a {
    text-decoration: none;
    color: var(--white-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.list-itens {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}

.list-itens a {
    color: var(--white-color);
}
.list-itens a:hover {
    transition: all .3s ease-out;
    color: var(--middle-color);
}

.menu {
    align-items: center;
    justify-content: space-between;
}


/* Page 1 -> Home */
.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: var(--dark-color);
    font-size: 48px;
    margin-bottom: 10px;
}

.texto-apresentacao a {
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    display: block;
    text-decoration: none;
    line-height: 30px;
    margin-top: 10px; 
}
.texto-apresentacao a:hover {
    transition: all .3s ease-out;
    background-color: var(--middle-color);
    color: var(--dark-color);
}


/* Page 2 -> Quem somos */
.quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    border-top: 1px solid black;
}

.quem-somos h2 {
    font-size: 32px;
    color: var(--dark-color);
    display: flex;
    margin-bottom: 25px;
}

.quem-somos h2::before {
    content: '';
    height: 40px;
    width: 5px;
    margin-right: 10px;
    background-color: var(--dark-color);
    position: relative;
}

.quem-somos p {
    margin-bottom: 15px;
    width: 80%;
}

.quem-somos img {
    min-width: 500px;
}


/* Page 3 -> Serviços */
.servicos-content {
    background-color: var(--dark-color);
    width: 100%;
}

.servicos {
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 169px;
}

.servicos h2 {
    color: var(--white-color);
    font-size: 32px;
    margin-bottom: 80px;
}

.list-servicos {
    display: flex;
    justify-content: space-around;
}

.item-servicos {
    text-align: center;
}

.item-servicos a {
    width: 200px;
    background-color: var(--white-color);
    border-radius: 30px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: var(--dark-color);
    text-decoration: none;
    margin-top: 20px;
    display: block;
    padding: 5px 10px;
}
.item-servicos a:hover {
    transition: all .3s ease-out;
    background-color: var(--middle-color);
    color: var(--dark-color);
}

.item-servicos p {
    margin-top: 20px;
    font-weight: bold;
    color: var(--white-color);
}

.item-servicos img {
    width: 80%;
    margin: auto;
}


/* Page 4 -> Planos */
.planos {
    flex-direction: column;
    min-height: 100vh;
    color: var(--dark-color);
}

.planos h2 {
    font-size: 32px;
    margin-bottom: 80px;
    margin-top: 70px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 2px solid var(--dark-color);
    margin-right: 20px;
    padding: 15px;
    max-width: 240px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
.item-plano h3::after {
    content: '';
    background-color: var(--dark-color);
    width: 100%;
    height: 2px;
    margin-top: 25px;
}

.btn {
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    display: block;
    text-decoration: none;
    line-height: 30px;
    margin: auto;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.btn:hover {
    transition: all .3s ease-out;
    background-color: var(--middle-color);
    color: var(--dark-color);
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.item-plano ul li::before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: var(--dark-color);
    margin-right: 10px;
}


/* Footer */
footer {
    background-color: var(--dark-color);
    height: 60px;
    color: var(--white-color);
    text-align: center;
    line-height: 30px;
}

footer a {
    text-decoration: none;
    color: var(--white-color);
}

footer a:hover {
    color: var(--middle-color);
}


/* MOBILE */
 @media (max-width: 750px) {
    .flex-container {
        flex-direction: column;
    }

    .apresentacao {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    } 

    .texto-apresentacao {
        width: 100%;
    }
    .texto-apresentacao a{
        margin-left: 200px;
    }

    .quem-somos {
        flex-direction: column;
        justify-content: center;
    }
    .quem-somos img {
        min-width: 320px;
        margin: auto;
    }



    .list-servicos {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .item-servicos {
        margin-bottom: 60px;
    }
    .item-servicos img {
        width: 100%;
        margin: auto;
    }
    .item-servicos a{
        width: 90%;
    }



    .list-planos {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .item-plano {
        margin-bottom: 40px;
    }

    

    footer {
        text-align: left;
    }
} 